@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

:root {
  --font-noto: "Noto Sans JP", sans-serif;
  --primary-green: #1c897a;
  --primary-red: #fc6c6b;
  --primary-yellow: #feb848;
  --secondary-yellow: #fdc873;
  --bisque:#ffe4c4;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  position: absolute;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

body {
  font-family: var(--font-noto);
  background-color: var(--primary-yellow);
}

body::after {
  position: fixed;
  content: "";
  height: 100%;
  width: 0;
  top: 0;
  right: 0;
  background-color: var(--primary-red);
  z-index: -1;
  animation: body-bg 1s ease-in-out forwards;
}

@keyframes body-bg {
  0% {
    width: 0vw;
  }
  100% {
    width: 50vw;
  }
}

body::before {
  position: fixed;
  content: "0";
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  font-size: 70rem;
  font-weight: 200;
  color: var(--white);
  z-index: -1;
  opacity: 0.5;
}

.container {
  position: relative;
  isolation: isolate;
  min-height: 100vh;
  max-width: var(--max-width);
  margin-inline: auto;
  overflow: hidden;
}

nav {
  padding-block: 2rem 0;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav__links a {
  font-weight: 500;
}

.nav__links .logo {
  width: 2rem;
}

.nav__left a {
  color: var(--primary-red);
}

.nav__right a {
  color: var(--white);
}

.nav__links a:hover {
  color: var(--primary-green);
}

.letter-b {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40rem;
  line-height: 40rem;
  font-weight: 900;
  color: var(--primary-green);
}

.container img {
  position: absolute;
  width: 100%;
  max-width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 50px rgba(0, 0, 0, 0.8));
}

.container h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5rem;
  color: var(--white);
  letter-spacing: 25px;
}

.text__left {
  transform: translate(calc(-50% - 250px), -50%);
}

.text__right {
  transform: translate(calc(-50% + 250px), -50%);
}

.container .explore {
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 225px));
  background-color: var(--white);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.container .explore a {
  color: var(--primary-red);
}

.container .explore:hover {
  background-color: var(--secondary-yellow);
}

.container h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.2rem;
  font-weight: 500;
}

.container h5::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100px;
  top: 50%;
}

.footer {
  position: absolute;
  left: 50%;
  margin-top: 2%;
  transform: translateX(-50%);
  width: 100%;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.footer p {
  font-size: 0.9rem;
  color: var(--primary-red);
}

.footer__links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.footer__links li {
  opacity: 0;
  animation: fade__in 0.3s ease-in-out forwards;
}

.footer__links li:nth-child(1) {
  animation-delay: 6s;
}

.footer__links li:nth-child(2) {
  animation-delay: 6.5s;
}

.footer__links li:nth-child(3) {
  animation-delay: 7s;
}

@keyframes fade__in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer__icons i {
  color: var(--white);
  padding: .8rem;
  font-size: 1.5rem;
}

.footer__icons i:hover {
  color: var(--primary-green);
}

.flex_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0.625rem;
  padding-inline-start: 0;
  margin-top: 1rem;
  margin-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.text {
  font-size: 2rem;
  font-weight: 900;
  color: var(--white);
  letter-spacing: .5rem;
  text-transform: uppercase;
  text-align: center;
}

.sub-text {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--primary-green);
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 2rem;
}

.text-description {
  font-size: 1.5rem;
  color: var(--white);
  text-align: center;
}

.cont_books {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.book-cover {
  width: 20rem;
  margin-top: 1rem;
  position: relative;
}

dialog ::backdrop {
  background-color: var(--bisque);
}

dialog {
  align-self: center;
  margin-left: 10%;
  border: none;
  border-radius: .5rem;
  box-shadow: var(--bisque);
  width: calc(100% - 1rem);
  padding: 1rem;
  max-width: 80%;
  background-color: var(--bisque);
}

.btn-close {
  font-family: var(--font-noto);
  font-size: 24px;
  color: var(--primary-green);
  font-weight: 500;
  padding: .5rem;
  margin-left: 95%;
  background-color: var(--bisque);
  border: none;
  cursor: pointer;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .btn-enviar {
    margin-top: 20px;
    text-align: center;
  }

  .btn-enviar input[type="submit"] {
    width: 120px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1rem;
  }

  h2 {
    font-family: var(--font-noto);
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--primary-green);
    ;
    align-self: center;
    margin-bottom: 2rem;
  }

}

form input,
form textarea {
  margin-top: 1.5rem;
  font-family: var(--font-noto);
  width: 100%;
  background-color: var(--secondary-yellow);
  border: var(--secondary-yellow);
  outline: 0;
  padding: 20px 15px;
  border-radius: .5rem;
  color: var(--bisque);
  font-size: 18px;
  &::placeholder {
    color: var(--bisque);
  }
  &:hover {
    background-color: var(--primary-yellow);

  }
  &:focus {
    border: 2px solid var(--primary-red);
  }
}

form textarea {
  resize: none;
  max-height: 200px;
}

.span-required {
  font-size: 12px;
  display: none;
  margin: 3px 0 0 1px;
  color: var(--primary-red);
  font-weight: 700;
  i {
    padding-right: 2px;
  }

}

.acessible-link {
  position: absolute;
  top: -1000px;
  z-index: 99999;
  padding: 10px 20px;
  overflow: hidden;
  font-weight: 700;
  color: var(--primary-red);
  background-color: var(--primary-green);
  width: max-content;
  border-bottom-right-radius: .3rem;
  transition: top .3s;
  -ms-transition: top .3s;
  -webkit-transition: top .3s;
  -moz-transition: top .3s;
  -o-transition: top .3s;
  text-decoration: none;
}

.acessible-link:active,
.acessible-link:focus,
.acessible-link:hover {
  top: 0;
}


@media screen and (max-width:768px) {
  .letter-b {
    font-size: 25rem;
    line-height: 35rem;
  }
  body::after {
    background-color: var(--primary-yellow);
  }
  .nav__right a {
    color: var(--primary-red);
  }
  .container h4 {
    display: none;
  }
  section.form {
    padding: 20px 2%;
    h2 {
      margin-bottom: 0;
      font-size: 1.5rem;
    }
  }
  form input,
  form textarea {
    margin-top: 1rem;
    padding: 20px 16px;
    font-size: 16px;
  }
  .book-cover {
    width: 16rem;
  }
  .text {
    font-size: 1.5rem;
    letter-spacing: 0;
    padding: 0 1rem;
  }
  .text-description {
    font-size: 1rem;
    padding: 1rem;
  }
}


@media screen and (max-width:480px) {
  .letter-b {
    font-size: 20rem;
    line-height: 30rem;
  }
  .container img {
    max-width: 100px;
  }
  body::after {
    background-color: var(--primary-yellow);
  }
  .nav__left {
    .more {
      display: none;
    }
  }
  .nav__right a {
    color: var(--primary-red)
  }
  .container {
    position:static;
  }
  .container h4 {
    display: none;
  }
  .footer {
    display: grid;
    margin-top: 10%;
  }
  .footer__icons {
    display: flex;
    justify-content: center;
  }
  dialog {
    margin-left: 5%;
    padding: 16px;
    max-width: 90%;
  }
  .btn-close {
    padding: 0;
  }
  section.form {
    padding: 20px 2%;
    h2 {
      margin-bottom: 0;
      font-size: 1.5rem;
    }
  }
  form input,
  form textarea {
    margin-top: 1rem;
    padding: 15px 10px;
    font-size: 14px;
  }
  .book-cover {
    width: 16rem;
  }
  .text-description {
    padding: 1rem;
  }
}